*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-card{
    width:400px;
    height:400px;
    border: 1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.alert{
    width: 200px;
    height: 100px;
    display: none;
    background: gray;
    text-align: center;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}